pkgbase = archlinux-etc
	pkgdesc = Configuration files in /etc
	pkgver = 0.1
	pkgrel = 1
	install = archlinux-etc.install
	arch = any
	license = GPL3
	source = unbound.conf
	source = root.hints::https://www.internic.net/domain/named.cache
	source = adservers::https://pgl.yoyo.org/adservers/serverlist.php?hostformat=unbound&showintro=0&startdate%5Bday%5D=&startdate%5Bmonth%5D=&startdate%5Byear%5D=&mimetype=plaintext
	source = resolvconf.conf
	source = shell-timeout.sh
	sha256sums = 762af8ad764ae2a8fc9c1761e176cd72aad431e4857289d8c7a9554dc70a94d0
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = b451ff0cbd9daa51f6900be5b5fba47bffc25c4a312ea2e62e7d498ab9f7fb38
	sha256sums = 730a6905c849acc993abac9030adf46b12857b17f957f22825192ae9f4051e87

pkgname = archlinux-etc

