pkgbase = pacman-cache-cleanup-hook
	pkgdesc = A hook which removes old pacman packages.
	pkgver = 1.0
	pkgrel = 1
	arch = any
	license = GPL3
	depends = pacman
	source = cache-cleanup.hook
	sha256sums = 69eb61d9319421d0a2c1d5888c9f224e52cdff8bfc2e82c8a48b620806d9b543

pkgname = pacman-cache-cleanup-hook

