[Unit]
Description=DNSCrypt client proxy
Documentation=man:dnscrypt-proxy(8)
Requires=dnscrypt-proxy@%i.socket
After=network.target
Before=nss-lookup.target

[Install]
Also=dnscrypt-proxy@%i.socket
WantedBy=multi-user.target

[Service]
Type=notify
NonBlocking=true
ExecStart=/usr/bin/dnscrypt-proxy /etc/dnscrypt-proxy.conf --resolver-name=%i
Restart=always
