[Unit]
Description=dnscrypt-proxy listening socket

[Socket]
ListenStream=127.0.0.1:53536
ListenDatagram=127.0.0.1:53536

[Install]
WantedBy=sockets.target
