[Unit]
Description=dnscrypt-proxy listening socket

[Socket]
ListenStream=127.0.0.1:53539
ListenDatagram=127.0.0.1:53539

[Install]
WantedBy=sockets.target
